<div class="landing">
    <h1 class="title">Tu orden de pedido esta en progreso!</h1>
    <h2 class="subTitle">A la brevedad recibiras un email con el detalle y confirmacion</h2>
    <br>
    <button><a href="/home">Volver al inicio</a></button>
</div>