<div>
    <h1>Que funcionalidad desea usar hoy?</h1>
    <nav>
        <h3>Ver perfil</h3>
        <button><a href="/profile">Inicia sesión</a></button>

        <h3>Ver listado de productos</h3>
        <button><a href="/api/products">Registrarse</a></button>

        <h3>Agregar productos</h3>
        <button><a href="/addproduct">Agregar productos</a></button>

        <button><a href="/api/session/logout">Logout</a></button>
    </nav>
</div>