<div class="landing">
    <h1 class="title">Bienvenido</h1>

    <h2 class="subTitle">Eres usuario?</h2>
    <button><a href="/login">Inicia sesión</a></button>

    <h3 class="subTitle">Primera vez usando la API?</h3>
    <button><a href="/register">Registrarse</a></button>
</div>  