<div>
    <h1>Bienvenido</h1>

    <h2>Eres usuario?</h2>
    <button><a href="/login">Inicia sesión</a></button>

    <h3>Primera vez usando la API?</h3>
    <button><a href="/register">Registrarse</a></button>
</div>