<div class="profileContainer">
    <h1>Perfil del usuario</h1>
    <div class="profile">
        <h2>Nombre: {{firstName}} {{lastName}}</h2>
        <h3>Email: {{email}}</h3>
        <p>Edad: {{age}}</p>
        <button class="cart"><a href="/api/cart">Ver carrito</a></button>
    </div>
</div>