<div class="profile">
    <h1>Perfil del usuario</h1>

    <p>Nombre: {{firstName}} {{lastName}}</p>
    <p>Email: {{email}}</p>
    <p>Edad: {{age}}</p>
    <button><a href="/api/cart">Ver carrito</a></button>
    <button><a href="/api/session/logout">Logout</a></button>
</div>