<header>
    <h1 class="title">Que funcionalidad desea usar hoy?</h1>
    <nav>
        <button><a href="/profile">Ver perfil</a></button>

        <button><a href="/api/products">Ver listado de productos</a></button>

        <button><a href="/addproduct">Agregar productos</a></button>

        <button class="logout"><a href="/api/session/logout">Logout</a></button>
    </nav>
</header>