{{#showHeader}}
<header class="header">
  <h1 class="title">¿Qué funcionalidad desea usar hoy?</h1>
  <nav>
    <button><a href="/home">Volver a pagina principal</a></button>
    <button><a href="/profile">Ver perfil</a></button>
    <button><a href="/api/products">Ver listado de productos</a></button>
    <button><a href="/api/cart">Ver carrito</a></button>
    {{#if currentUser.isValid}}
    <button><a href="/api/users">Ver listado de usuarios</a></button>
    <button><a href="/api/tickets">Ver tickets</a></button>
    {{/if}}

    {{#if currentUser.isAdmin}}
    <button><a href="/addproduct">Agregar productos</a></button>
    {{/if}}
    <button class="logout"><a href="/api/session/logout">Logout</a></button>
  </nav>
</header>
{{/showHeader}}